
<!-- REGISTRATION MODAL SECTION -->

                        <!-- REGISTRATION FORM  -->
                        <form class="form-horizontal custom-form"  name="regForm" novalidate ng-controller="userCtrl" ng-controller="registrationCtrl">
                            <h4 class="text-uppercase text-center">Registration Form</h4>

                            <!-- LOGIN -->
                            <div class="form-group register">
                                <div class="col-sm-4 sr-only label-column">
                                    <label class="control-label" for="name-input-field">Login </label>
                                </div>
                                <div class="col-sm-10 col-sm-offset-1 input-column">
                                    <input id="user_login"
                                    name="login"
                                     class="form-control"
                                     required
                                     type="text"
                                     placeholder="Login"
                                     ng-maxlength="15"
                                     ng-minlength="6"
                                     ng-model="login"

                                     >
                                     <p ng-show="regForm.login.$error.minlength" class="help-block">Username is too short.</p>
<p ng-show="regForm.login.$error.maxlength" class="help-block">Username is too long.</p>

                                </div>
                            </div><!-- END LOGIN -->

                            <!-- FULL NAME -->
                            <div class="form-group register">
                                <div class="col-sm-4 sr-only label-column">
                                    <label class="control-label" for="email-input-field">Full name </label>
                                </div>
                                <div class="col-sm-10 col-sm-offset-1 input-column">
                                    <input id="user_name"
                                    class="form-control"
                                    name="fullName"
                                    type="text"
                                    ng-maxlength="20"
                                    ng-minlength="6"
                                    required
                                    placeholder="Full Name"
                                    ng-model="fullName" >
                                <p ng-show="regForm.fullName.$error.minlength" class="help-block">Full Name is too short.</p>
<p ng-show="regForm.fullName.$error.maxlength" class="help-block">Full Name is too long.</p>
                                </div>
                            </div><!-- END FULL NAME -->

                            <!-- PASSWORD-->
                            <div class="form-group register">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label sr-only" for="pawssword-input-field">Password </label>
                                </div>
                                <div class="col-sm-10 col-sm-offset-1 input-column">
                                    <input id="user_password"
                                    name="passw1"
                                    class="form-control"
                                    type="password"
                                    required placeholder="Password"
                                    ng-maxlength="12"
                                    ng-minlength="6"

                                    ng-model="passw1">
                                    <p ng-show="regForm.passw1.$error.minlength" class="help-block">Password is too short.</p>
<p ng-show="regForm.passw1.$error.maxlength" class="help-block">Password is too long.</p>
                                </div>
                            </div><!-- END PASSWORD -->

                            <!-- CONFIRM PASSWORD-->
                            <div class="form-group register">
                                <div class="col-sm-4 label-column">
                                    <label class="control-label sr-only" for="repeat-pawssword-input-field">Repeat Password </label>
                                </div>
                                <div class="col-sm-10 col-sm-offset-1 input-column">
                                    <input class="form-control"
                                    type="password"
                                    name="passw2"
                                    placeholder="Confirm password"
                                    required
                                    ng-model="passw2"
                                    wj-validation-error="passw2 != passw1 ? 'Passwords don\'t match' : ''" >
                                    <!-- <p ng-show="regForm.passw1 !== regForm.passw2" class="help-block">Passwords not matching</p> -->

                                </div>
                            </div><!-- END CONFIRM PASSWORD-->


                            <button id="submit" class="btn btn-default submit-button" ng-click="clearForm(); regSubmit()"  type="submit" ng-disabled="regForm.$invalid " >Submit</button>
                        </form><!-- REGISTRATION FORM  -->
<!-- REGISTRATION MODAL SECTION -->
<!-- SCRIPTS  -->
